# Ignorar todos los archivos compilados de Python
__pycache__/
*.pyc

# Ignorar base de datos local (si no debe subirse)
*.sqlite3

# Ignorar todas las migraciones (opcional, si las generas localmente)
agua/hola/migrations/

# Si no quieres ignorar todos los archivos dentro de /agua/agua/ o /agua/hola/,
# quita las siguientes líneas
# agua/agua/
# agua/hola/
