.body{
    background-image:url("imagenes/fondo.jpg") ;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    font-family: 'Times New Roman', Times, serif; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.sesion{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
}
.contenerdor{
    background-color: white;
    color:black;
    padding: 40px;
    margin: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    color:black;
    width:100%;
    margin:10px auto;
    display:block;
}

input:focus{
    border:2px solid white;
    background-color: lightblue;
}

button{
    background-color: black;
    color:white;
    padding: 10px,20px;
    font-size: 20px;
    border:auto;
    border-radius: 20px;
    transition: backgroud-color 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: lightblue;
    transform: scale(1.02);
}